ion-content {
  height: 65%;
  --background: #E7F4E7;
}

ion-grid {
  padding: 0;

  ion-row {
    background-color: #7CDF68;
    padding: 15px;
    border: 1px solid black;
    border-top: none;

    div {
      width: 100%;
      margin-bottom: 15px;
    }

    &:first-child {
      border-top: 1px solid black;
    }

    span:nth-child(2) {
      font-size: 15px;
      font-weight: bold;
      color: white;
    }
  }
}

ion-img {
  margin: 20px auto 10px auto;
  width: 60px;
}
