<ion-content>
  <div class="div-sin" *ngIf="listaComunicado.length === 0">
    <span>No hay comunicados publicados en tu comunidad.</span>
  </div>
  <ion-grid>
    <ion-row *ngFor="let comunicado of listaComunicado">
      <div>
        <span [innerHTML]="htmlSeguro(comunicado.descripcion)"></span>
      </div>
      <span>{{ formatearFecha(comunicado.fecha) }}</span>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-img src="assets/icon/anadir.png" (click)="navigateToCrearComunicado()"></ion-img>

