ion-toolbar {
  --background: #339F28;
  height: 80px;
  --min-height: 80px;
}

.chat-header {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.icono-foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 40px;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  white-space: nowrap;
}

.salir {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

ion-content.chat-content {
  --background: #E7F4E7;
}

.mensajes {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emisor {
  position: relative;
  padding: 15px;
  background-color: #57BF48;
  color: white;
  border-radius: 25px 25px 0 25px;
  display: inline-block;
  float: right;
  max-width: 90%;
  margin-bottom: 5px;
}

.receptor {
  position: relative;
  padding: 15px;
  background-color: #339F28;
  color: white;
  border-radius: 25px 25px 25px 0;
  display: inline-block;
  float: left;
  max-width: 90%;
  margin-bottom: 5px;
}

hr {
  width: 40%;
  border: 1px solid black;
}

.div_dia {
  display: flex;
}

.editado {
  font-size: 11px;
  font-weight: bold;
}

.message-time {
  font-size: 10px;
  color: #ffffff;
  margin-top: 5px;
}

.emisor .message-time {
  text-align: right;
}

.receptor .message-time {
  text-align: left;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #339F28;
}

.chat-input {
  flex: 1;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 1rem;
  background: #fff;
  color: black;
  height: 60px;
}

.botonEnviar {
  background-color: #ffffff;
  margin-right: 10px;
  margin-left: -30px;
  border-radius: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botonEnviar ion-img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

ion-input {
  --border-radius: 60px;
  --background: #FFFFFF;
  --padding-start: 10px;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  ion-img {
    width: 8%;
    margin: 0 5px 0 auto;
    padding: 0;
  }
}
