<ion-header>
  <ion-toolbar>
    <div class="chat-header">
      <ion-img src="assets/icon/chat/flecha.png" class="logo"></ion-img>
      <ion-img src="assets/icon/chat/iconoFoto.png" class="icono-foto"></ion-img>
      <ion-label class="username">Josemary22</ion-label>
      <ion-img src="assets/icon/chat/menu3puntos.png" class="salir"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content">
  <div class="mensajes">
    <div class="mensaje mensaje-recibido">
      <span class="pico"></span>
      Hola, ¿cómo estás?
      <div class="hora">10:10</div>
    </div>
    <div class="mensaje mensaje-enviado">
      <span class="pico"></span>
      ¡Hola! Todo bien, ¿y tú?
      <div class="hora">10:11</div>
    </div>

    <div class="separador-dia">
      <div class="linea"></div>
      <span class="texto-dia">Hoy</span>
      <div class="linea"></div>
    </div>

    <div class="mensaje mensaje-recibido">
      <span class="pico"></span>
      Todo genial. ¿Vamos a quedar hoy?
      <div class="hora">12:45</div>
    </div>
    <div class="mensaje mensaje-enviado">
      <span class="pico"></span>
      Sí, ¡a las 7 en el parque!
      <div class="hora">12:47</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="chat-input-container">
    <ion-input placeholder="  Escribe un mensaje..." class="chat-input"></ion-input>
    <button class="botonEnviar">
      <ion-img src="assets/icon/chat/botonEnviar.png" class="icono-foto"></ion-img>
    </button>
  </div>
</ion-footer>
