<app-header></app-header>

<ion-content>
  <div class="textoMedio">
    <p>Propiedades</p>
  </div>
  <div class="grid-container">
    <button class="card card-button">
      <img src="assets/icon/propiedades/eliminar.png" class="delete" />
      <p class="card-title">Garaje</p>
      <img src="assets/icon/propiedades/garaje.png" alt="Garaje" class="card-image" />
    </button>
    <button class="card card-button">
      <img src="assets/icon/propiedades/eliminar.png" class="delete" />
      <p class="card-title">Futbol</p>
      <img src="assets/icon/propiedades/futbol.png" alt="Futbol" class="card-image" />
    </button>
    <button class="card card-button">
      <img src="assets/icon/propiedades/eliminar.png" class="delete" />
      <p class="card-title">Padel</p>
      <img src="assets/icon/propiedades/padel.png" alt="Padel" class="card-image" />
    </button>
    <button class="card card-button">
      <img src="assets/icon/propiedades/añadir.png" class="delete" />
      <p class="card-title">Piscina</p>
      <img src="assets/icon/propiedades/piscina.png" alt="Piscina" class="card-image" />
    </button>
  </div>
</ion-content>
<app-menu-inferior-comunidad></app-menu-inferior-comunidad>
