<ion-content class="login-container">
  <div class="titulo-container">
    <h2 class="title">Configurar Perfil</h2>
    <h3 class="subtitle">Rellena los siguientes datos personales</h3>
  </div>

  <div class="input-container">
    <ion-text>Nombre</ion-text>
    <ion-input type="nombre" placeholder="Introduce tu nombre"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Apellidos</ion-text>
    <ion-input type="apellidos" placeholder="Introduce tus apellidos"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Teléfono</ion-text>
    <ion-input type="telefono" placeholder="Introduce tu teléfono"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Fecha de nacimiento</ion-text>
    <ion-input type="date" placeholder="Introduce tu fecha de nacimiento"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Número de cuenta bancaria</ion-text>
    <ion-input type="cuenta" placeholder="Introduce tu número de cuenta bancaria"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>DNI</ion-text>
    <ion-input type="dni" placeholder="Introduce tu DNI"></ion-input>
  </div>

  <div class="registro-container">
    <ion-text class="registro-texto">¿Ya tienes una cuenta?</ion-text>
    <ion-text class="iniciar-sesion" (click)="navigateToInicioSesion()">Iniciar Sesión</ion-text>
  </div>

  <ion-button expand="block" (click)="navigateToComunidades()">TERMINAR REGISTRO</ion-button>
</ion-content>
