<ion-content class="login-container">
  <div class="titulo-container">
    <h2 class="title">Crear comunidad</h2>
    <h3 class="subtitle">Rellena lo siguiente para crear tu comunidad</h3>
  </div>

  <div class="input-container">
    <ion-text>Nombre de comunidad</ion-text>
    <ion-input [(ngModel)]="registroComunidad.nombre" type="nombre" placeholder="Introduce el nombre de tu comunidad"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Email</ion-text>
    <ion-input [(ngModel)]="registroComunidad.correo" type="email" placeholder="Introduce tu email"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Contraseña</ion-text>
    <ion-input [(ngModel)]="registroComunidad.contrasena" type="password" placeholder="Introduce tu contraseña"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Confirmar contraseña</ion-text>
    <ion-input type="password" placeholder="Vuelve a introducir tu contraseña"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Dirección</ion-text>
    <ion-input [(ngModel)]="registroComunidad.direccion" type="direccion" placeholder="Introduce tu dirección"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Número de cuenta bancaria</ion-text>
    <ion-input [(ngModel)]="registroComunidad.numCuenta" type="cuenta" placeholder="Introduce tu número de cuenta bancaria"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Banco</ion-text>
    <ion-input [(ngModel)]="registroComunidad.banco" type="banco" placeholder="Introduce tu banco"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>CIF</ion-text>
    <ion-input [(ngModel)]="registroComunidad.cif" type="CIF" placeholder="Introduce tu CIF"></ion-input>
  </div>

  <ion-button expand="block" (click)="navigateToComunidades()">SIGUIENTE</ion-button>
</ion-content>
