ion-content {
  height: 65%;
  --background: #E7F4E7;
}

.div-sin {
  margin: 60px auto 0;
  text-align: center;

  span {
    font-weight: bold;
  }
}

ion-img {
  margin: 20px auto 10px auto;
  width: 60px;
}

ion-grid {
  padding: 0;

  ion-row {
    background-color: #7CDF68;
    border: 1px solid black;
    border-top: none;
    padding: 0;

    &:first-child {
      border-top: 1px solid black;
    }

    .contenedor {
      width: 100%;

      .vecino-div {
        background-color: #57BF48;
        border-radius: 20px;
        padding: 10px;
        font-weight: bold;
        color: white;
        margin: 15px;
      }

      .sancion-div {
        background-color: red;
        border-radius: 20px;
        padding: 10px;
        font-weight: bold;
        color: white;
        margin: 15px;

        span:first-child {
          font-style: italic;
        }
      }

      .motivo-div {
        position: relative;
        text-align: center;
        font-weight: bold;
        background-color: white;
        padding: 10px;
        color: black;
        border-top: 2px solid black;

        span:first-child {
          font-style: italic;
        }

        .cruz-roja {
          position: absolute;
          bottom: 0px;
          right: 4px;
          width: 26px;
          height: 26px;
          cursor: pointer;
        }
      }

    }
  }
}

.div-sin {
  margin: 60px auto 0;
  text-align: center;

  span {
    font-weight: bold
  }
}

.inline-text {
  display: inline;
  margin-left: 5px;
}
