<app-header></app-header><ion-content>
  <div class="garaje-grid-container" *ngFor="let bloque of bloquesGaraje">

    <div class="plaza" *ngFor="let plaza of bloque.fila1">
      <div class="info">
        <strong>{{ plaza.numeroPlaza }} </strong>
        <span>{{ obtenerNombreVivienda(plaza.idVivienda) }}</span>
      </div>

      <img *ngIf="!plaza.idVivienda"
           src="assets/icon/propiedades/añadir.png"
           style="width: 30px; height: 30px; cursor: pointer"
           (click)="anadirVivienda(plaza.id)">
    </div>

    <div class="pasillo">Pasillo</div>

    <div class="plaza" *ngFor="let plaza of bloque.fila2">
      <div class="info">
        <strong>{{ plaza.numeroPlaza }} </strong>
        <span>{{ obtenerNombreVivienda(plaza.idVivienda) }}</span>
      </div>

      <img *ngIf="!plaza.idVivienda"
           src="assets/icon/propiedades/añadir.png"
           style="width: 30px; height: 30px; cursor: pointer"
           (click)="anadirVivienda(plaza.id)">
    </div>

  </div>
</ion-content>
<app-footer-comunidad></app-footer-comunidad>
<ion-toast
  id="errorReserva"
  message="Ya tienes una plaza asignada"
  duration="3000"
  position="top"
  color="warning"
></ion-toast>
<ion-toast
  id="exitoCreacion"
  message="Plaza de garaje reservada con éxito"
  duration="3000"
  position="top"
  color="success"
></ion-toast>
