<app-header></app-header>
<app-header-comunidad></app-header-comunidad>

<ion-content>
  <div class="eleccion">
    <p>Aprobación de derrama para contratar seguridad. 50€/Vecino.</p>
  </div>
  <div class="textoMedio">
    <p>VOTACIÓN</p>
  </div>
  <div class="votos ">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/icon/votacion/votoFavor.png" class="logo"></ion-img>
        </ion-col>
        <ion-col>
          <p>A FAVOR</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="votos">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/icon/votacion/votoContra.png" class="logo logo-circulo"></ion-img>
        </ion-col>
        <ion-col>
          <p>EN CONTRA</p>
        </ion-col>
      </ion-row>
    </ion-grid>  </div>
  <div class="votos">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/icon/votacion/votoBlanco.png" class="logo logo-circulo"></ion-img>
        </ion-col>
        <ion-col>
          <p>EN BLANCO</p>
        </ion-col>
      </ion-row>
    </ion-grid>  </div>
</ion-content>
<app-footer></app-footer>
