ion-content {
  margin-top: 10px;
  --background: #E7F4E7;
  font-weight: bold;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .card {
    background-color: #7CDF68;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-title {
    color: white;
    font-size: 18px;
    margin: 10px 0 0;
  }

  .card-image {
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px
  }

  .card-button {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #7CDF68;
    border-radius: 7px;
    padding: 5px;
    aspect-ratio: 1;
  }
}

