<app-header></app-header>

<ion-content>
  <div class="buscador">
    <ion-searchbar
      class="searchbar-blanco"
      placeholder="Buscar en LiveTogether..."
      showCancelButton="focus"
    ></ion-searchbar>
  </div>

  <div class="tarjeta" (click)="navigateToComunidad(comunidad.id)" *ngFor="let comunidad of listaComunidades">
    <p class="tarjeta-titulo">{{ comunidad.nombre }}</p>
    <p class="tarjeta-subtitulo">{{ comunidad.direccion }}</p>
  </div>
</ion-content>

<app-footer></app-footer>
