<app-header></app-header>

<ion-content>
  <div class="contenido">
    <ion-img src="assets/icon/perfiles/26.png" class="imagen-redondeada"></ion-img>
    <ion-img src="assets/icon/perfiles/img.png" class="icono-boton" (click)="visibleInput()"></ion-img>
  </div>

  <div class="input-container">
    <ion-text>Nombre</ion-text>
    <ion-input type="text" placeholder="Introduce tu nombre" [(ngModel)]="editarVecino.nombre" [readonly]="!editable"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Apellido</ion-text>
    <ion-input type="text" placeholder="Introduce tu apellido" [(ngModel)]="editarVecino.apellidos" [readonly]="!editable"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Teléfono</ion-text>
    <ion-input type="text" placeholder="Introduce tu teléfono" [(ngModel)]="editarVecino.telefono" [readonly]="!editable"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Fecha Nacimiento</ion-text>
    <ion-input type="date" placeholder="Fecha de Nacimiento" [(ngModel)]="editarVecino.fechaNacimiento" [readonly]="!editable"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Foto perfil</ion-text>
    <ion-input placeholder="Introduce tu foto" [(ngModel)]="editarVecino.correo" [readonly]="!editable"></ion-input>
  </div>

  <ion-button expand="block" class="guardar-boton" [disabled]="!editable" (click)="actualizarVecino(vecino.id)">Editar</ion-button>
</ion-content>


<app-footer></app-footer>
