<app-header></app-header>
<app-header-comunidad></app-header-comunidad>

<ion-content>

  <ion-grid class="grid-principal">
    <ion-row class="row-usuario">
      <ion-col size="3">
        <ion-img src="assets/icon/perfiles/26.png"></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-grid>
          <ion-row>
            <span class="nombre-usuario" *ngIf="vecino">{{ vecino.nombre }} {{ vecino.apellidos }}</span>
          </ion-row>
          <ion-row>
            <span class="info-usuario">{{ comprobarIdentidad() }}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="interlineado" *ngIf="propiedadesVecino().length !== 0">
    {{ propiedadesVecino().length === 1 ? 'Residentes en tu propiedad' : 'Residentes en tus propiedades' }}
  </div>

  <ion-grid class="grid-principal" *ngIf="propiedadesVecino().length !== 0">

    <ion-row class="row-residente" *ngFor="let residente of residentesEnPropiedad">
      <ion-col size="3">
        <ion-img src="assets/icon/perfiles/26.png"></ion-img>
      </ion-col>
      <ion-col size="9">
        <span class="nombre-usuario">{{ residente.nombre }} {{ residente.apellidos }}</span>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="interlineado">Tus sanciones</div>

  <ion-grid class="grid-principal" *ngIf="sancionesVecino.length > 0">
    <ion-row class="sancion" *ngFor="let sancion of sancionesVecino">
      <div class="sancion-div">
        <span>Sanción: </span>
        <span>{{ sancion.sancion }}</span>
      </div>
      <div class="motivo-div">
        <span>Motivo: </span>
        <span>{{ sancion.motivo }}</span>
      </div>
    </ion-row>
  </ion-grid>

  <div class="div-sin-saciones" *ngIf="sancionesVecino.length === 0">
    <span>No se te ha impuesto ningún tipo de sanción.</span>
  </div>

  <div class="interlineado">Tus deudas</div>

  <div class="deudas">
    <div>Pintura de las barandillas. 30€/Vecino.</div>
    <div>Pintura de las barandillas. 30€/Vecino.</div>
  </div>

  <div class="interlineado">Plaza de garaje</div>

  <div class="plaza">
    <ion-img class="icono-garaje" src="assets/icon/icono-garaje.png"></ion-img>
    <span>53</span>
  </div>

</ion-content>

<app-footer-comunidad></app-footer-comunidad>
