ion-content{
  --background: #E7F4E7;
}

.pista-row {
  border: 5px solid #57BF48;
  background-color: white;
  border-radius: 10px;
  margin-block: 15px;

  ion-col:first-child {
    display: flex;
    align-items: center;
  }

  ion-col:last-child {
    padding-block: 15px;
  }

  ion-col {
    padding: 10px;
    font-weight: bold;

    div {
      margin-block: 10px;
    }
  }
}

.textoMedio {
  text-align: center;
  padding-block: 20px;

  ion-label {
    font-size: 20px;
    color: #0E8008;
    font-weight: bold;
  }
}

.texto-col {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.div-sin {
  margin: 0 auto;
  text-align: center;

  span {
    font-weight: bold
  }
}
.flecha-retorno {
  width: 8%;
  height: auto;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 8px;
}

.fondo{
  background: #E7F4E7;

}
