<app-header></app-header>
<app-header-comunidad></app-header-comunidad>

<div class="fondo">
  <img
    class="flecha-retorno"
    src="assets/icon/FlechaRetorno.png"
    (click)="volverAtras()" />
</div>

<ion-content>
  <div class="textoMedio">
    <ion-label>Mis reservas</ion-label>
  </div>
  <ion-grid>
    <ion-row *ngFor="let reserva of listaReserva" class="pista-row">
      <ion-col>
        {{ reserva.numeroPersonas }} personas
      </ion-col>
      <ion-col>
        Día y hora: {{ reserva.fechaHora | date:'dd/MM/yyyy HH:mm' }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="div-sin" *ngIf="listaReserva.length === 0">
    <span>No tienes hay ninguna reserva hecha.</span>
  </div>
</ion-content>
<app-footer-comunidad></app-footer-comunidad>
