<div *ngFor="let eleccion of listaElecciones" class="eleccion">
  <ion-grid>
    <ion-row>
      <ion-img src="assets/icon/cerrar.png" *ngIf="eleccion.abierta" class="icono-cerrar" (click)="confirmarEleccion(eleccion.id) "></ion-img>
    </ion-row>
    <ion-row (click)="verVotos(eleccion)">
      <div style="width: 100%">
        <p>{{ eleccion.motivo }}</p>
        <div class="eleccion-info">
          <span class="fecha">{{calcularFecha(eleccion)}}</span>
          <span [ngClass]="comprobarEstado(eleccion)">{{ comprobarEstado(eleccion) }}</span>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</div>

<div class="div-sin" *ngIf="listaElecciones.length === 0">
  <span>No hay votaciones en curso en tu comunidad.</span>
</div>
