<ion-content [fullscreen]="true">
  <div class="contenido">
    <ion-img src="assets/icon/logo.png" class="logo"></ion-img>
    <ion-title class="titulo">BIENVENIDO A LIVETOGETHER</ion-title>
  </div>

  <ion-text>Email</ion-text>
  <ion-input type="email" placeholder="Introduce tu email"></ion-input>

  <ion-text>Contraseña</ion-text>
  <ion-input type="password" placeholder="Introduce tu contraseña"></ion-input>

  <ion-text class="registro-texto">
    ¿No tienes una cuenta? <span class="crear-cuenta">Crear cuenta</span>
  </ion-text>

  <ion-button expand="block">Inicio Sesión</ion-button>
</ion-content>
