ion-content {
  --background: #7CDF68;
}

.contenido {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 250px;
  height: auto;
}

.titulo {
  font-size: 26px;
  font-weight: bold;
  color: #0E8008;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column; /* Mantiene el texto y el input alineados verticalmente */
  width: 80%;
  max-width: 400px; /* Limita el ancho en pantallas grandes */
  margin: 0 auto;
}

ion-text {
  color: #0E8008;
  font-weight: bold;
  margin-bottom: 5px; /* Espaciado entre el texto y el input */
}

ion-input {
  background: #FFFFFF;
  width: 100%;
  height: 50px;
  border: 2px solid #0E8008;
  border-radius: 10px;
  --padding-start: 15px;
  --placeholder-color: #0E8008;
}

ion-input[type="email"] {
  margin-bottom: 45px;
}

.registro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 10px auto;
}

.registro-texto {
  color: #0E8008;
  font-size: 14px;
}

.crear-cuenta {
  font-weight: 900;
  cursor: pointer;
}

ion-button {
  --background: #0E8008;
  margin: 80px auto 20px auto;
  width: 80%;
  max-width: 400px;
  display: block;
  font-weight: bold;
}
