<ion-content>
  <div class="contenido">
    <ion-img src="assets/icon/header/logo.png" class="logo"></ion-img>
    <ion-title class="titulo">BIENVENIDO A LIVETOGETHER</ion-title>
  </div>

  <div class="input-container">
    <ion-text>Email</ion-text>
    <ion-input [(ngModel)]="formLogin.correo" type="email" placeholder="Introduce tu email"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Contraseña</ion-text>
    <ion-input [(ngModel)]="formLogin.contrasena" type="password" placeholder="Introduce tu contraseña"></ion-input>
  </div>

  <div class="registro-container">
    <ion-text class="registro-texto">¿No tienes una cuenta?</ion-text>
    <ion-text class="crear-cuenta" (click)="navigateToRegistro()">Crear cuenta</ion-text>
  </div>

  <div class="registro-container2">
    <ion-text class="olvide-contrasena" (click)="navigateToOlvidarContrasena()">¿Has olvidado tu contraseña?</ion-text>
  </div>

  <ion-button expand="block" (click)="login()">INICIO SESIÓN</ion-button>
</ion-content>
