<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src="assets/icon/primerFooter/perfil.png" class="perfil" (click)="navigateToPerfil()"></ion-img>
    </ion-buttons>
    <ion-buttons class="footer-center">
      <ion-img src="assets/icon/primerFooter/casa.png" (click)="navigateToComunidades()" class="casa"></ion-img>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-img src="assets/icon/primerFooter/añadir.png" class="añadir"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
