ion-content{
  --background: #E7F4E7;
}

.pista-row {
  border: 5px solid #57BF48;
  background-color: white;
  border-radius: 10px;

  ion-col {
    padding: 10px;
    font-weight: bold;
  }
}

.textoMedio {
  text-align: center;
  padding-block: 20px;

  ion-label {
    font-size: 20px;
    color: #0E8008;
    font-weight: bold;
  }
}

.div-sin {
  margin: 0 auto;
  text-align: center;

  span {
    font-weight: bold
  }
}
