<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="cabecera">
      <ion-col size="2">
        <ion-img (click)="verNotificaciones()" src="assets/icon/header-comunidad/notificacion.png"></ion-img>
      </ion-col>
      <ion-col size="8">
        <div class="buscador">
          <ion-searchbar
            class="searchbar-blanco"
            placeholder="Buscar viviendas"
            showCancelButton="focus"
          ></ion-searchbar>
        </div>
      </ion-col>
      <ion-col size="2">
        <ion-img (click)="crearVivienda()" src="assets/icon/anadir.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="tarjeta" *ngFor="let vivienda of listaViviendas" (click)="verInfoVvivienda(vivienda.id)">
    <p class="tarjeta-titulo">{{ vivienda.direccionPersonal }}</p>
  </div>
</ion-content>
<app-menu-inferior-comunidad></app-menu-inferior-comunidad>
