<app-header></app-header>

<ion-content>

  <div class="textoMedio">
    <p>Gastos</p>
  </div>

  <div (click)="navigateToNuevoGasto()" class="deudores">
    <img src="assets/icon/propiedades/añadir.png">
    <p>Añadir gasto</p>
    <button class="deudores">Deudores</button>
  </div>

  <div class="gastos">
    <div class="gasto">
      <span>Pintura de las barandillas. 30€/Vecino.</span>
      <div class="estado">
        <span>Pagado</span>
      </div>
    </div>
    <div class="gasto">
      <span>Pintura de las barandillas. 30€/Vecino.</span>
      <div class="estado" style="background-color: red; color: white">
        <span>Pendiente</span>
      </div>
    </div>
  </div>
</ion-content>

<app-menu-inferior-comunidad></app-menu-inferior-comunidad>
