<app-header></app-header>
<app-header-comunidad></app-header-comunidad>

<ion-content>
  <div class="contenedor-princial">
    <div class="asunto-gasto">
      <span>{{gasto.concepto}}</span>
    </div>
    <div class="info-gasto">
      <div>
        <span>Coste total: {{gasto.total}}€</span>
      </div>
      <div>
        <span>Coste por vecino: {{totalPorVecino}}€</span>
      </div>
      <div>
        <span>Pagado: {{porcentajePagado}}% / {{gasto.total}}€</span>
      </div>
      <div class="barra-progreso-container">
        <div class="barra-progreso" [style.width.%]="porcentajePagado"></div>
      </div>
      <span class="porcentaje-texto">{{ porcentajePagado }}% pagado</span>

    </div>
    <div class="contenedor-boton">
      <button
        [disabled]="estaPagado(gasto)"
        (click)="iniciarPago()">
        {{ estaPagado(gasto) ? 'Pagado' : 'Pagar' }}
      </button>

    </div>
  </div>
</ion-content>

<app-footer-comunidad></app-footer-comunidad>
