<!--<div class="horario-container">-->
<!--  <div class="fila encabezado">-->
<!--    <div class="celda vacía"></div>-->
<!--    <div *ngFor="let hora of horas" class="celda hora">{{ hora }}</div>-->
<!--  </div>-->

<!--  <div class="fila">-->
<!--    <div class="celda pista-nombre">{{ pista.nombre }} | {{ pista.deporte }}</div>-->
<!--    <div *ngFor="let hora of horas" class="celda"-->
<!--         [ngClass]="getEstadoClase(hora)"-->
<!--         (click)="toggleSeleccion(hora)">-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="leyenda">-->
<!--    <div class="leyenda-item libre"></div><span>Libre</span>-->
<!--    <div class="leyenda-item ocupado"></div><span>Ocupado</span>-->
<!--    <div class="leyenda-item no-disponible"></div><span>No disponible</span>-->
<!--    <div class="leyenda-item seleccionado"></div><span>Seleccionado</span>-->
<!--  </div>-->

<!--  <ion-button expand="block">Reservar ({{ seleccionadas.length }})</ion-button>-->
<!--</div>-->
