<ion-grid class="grid-principal">
  <ion-row class="row-principal" *ngFor="let sancion of listaSanciones">
    <div class="contenedor">
      <div class="vecino-div">
        <span>Vecino afectado → </span>
        <span><u>{{ sancion?.nombreVecino }}</u></span>
      </div>

      <div class="sancion-div">
        <span>Sanción: </span>
        <span>{{ sancion.sancion }}</span>
      </div>

      <div class="motivo-div">
        <span>Motivo: </span>
        <span>{{ sancion.motivo }}</span>
      </div>
    </div>
  </ion-row>
</ion-grid>
