.grid-principal {
  padding: 0;

  .row-principal {
    background-color: #7CDF68;
    padding: 15px;
    border: 1px solid black;
    border-top: none;

    &:first-child {
      border-top: 1px solid black;
    }
  }

  .grid-secundario {

    .sancion-div {
      background-color: red;
      border-radius: 20px;
      padding: 10px;
      font-weight: bold;
      color: white;

      span {
        &:first-child {
          font-style: italic;
        }
      }
    }

    .motivo-div {
      text-align: center;
      margin: 15px auto 0;
      font-weight: bold;
      background-color: white;
      border-radius: 20px;
      padding: 10px;
      color: black;

      span {
        &:first-child {
          font-style: italic;
        }
      }
    }

    .col-vecino {
      display: flex;
      align-items: center;

      div {
        text-align: center;
        background-color: #57BF48;
        border-radius: 20px;
        font-weight: bold;
        padding: 10px;
        color: white;
      }
    }
  }
}


