<div class="input-container" id="primerDiv">
  <ion-text>¿De qué deporte es la pista?</ion-text>
  <ion-input type="text" [(ngModel)]="crearPista.deporte" placeholder="Escribe el deporte de la pista"></ion-input>

  <ion-text>¿Durante cuántos días quieres repetir el horario?</ion-text>
  <ion-input type="number" [(ngModel)]="crearPista.diasRepetir" min="1" placeholder="Número de días que se repite el horario"></ion-input>

  <ion-text>Hora de inicio</ion-text>
  <ion-datetime
    [(ngModel)]="nuevaHoraInicio"
    presentation="time"
    displayFormat="HH:mm"
    pickerFormat="HH:mm">
  </ion-datetime>

  <ion-text>Hora de finalización</ion-text>
  <ion-datetime
    [(ngModel)]="nuevaHoraFin"
    presentation="time"
    displayFormat="HH:mm"
    pickerFormat="HH:mm">
  </ion-datetime>

  <ion-button expand="block" class="boton" (click)="agregarHorario()">Añadir horario</ion-button>

  <ion-list>
    <ion-item *ngFor="let horario of crearPista.horarios; let i = index">
      <ion-label>
        Hora inico: {{ horario.horaInicio.slice(11, 16) }}
      </ion-label>
      <ion-label>
        Hora fin: {{ horario.horaFin.slice(11, 16) }}
      </ion-label>
      <ion-button color="danger" (click)="eliminarHorario(i)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

</div>
<ion-button expand="block" class="guardar-boton" (click)="crearEleccionMetodo()" >Lanzar</ion-button>

<ion-toast
  id="diaIncorrecto"
  message="La fecha no puede ser anterior de la actual."
  duration="3000"
  position="top"
  color="danger"
></ion-toast>
<ion-toast
  id="campoVacio"
  message="Por favor, completa todos los campos"
  duration="3000"
  position="top"
  color="warning"
></ion-toast>
<ion-toast
  id="min1"
  message="Por favor, completa todos los campos"
  duration="3000"
  position="top"
  color="warning"
></ion-toast>
<ion-toast
  id="exitoCreacion"
  message="Elección creada con éxito"
  duration="3000"
  position="top"
  color="success"
></ion-toast>
