<ion-header>
  <ion-toolbar>
    <ion-img src="assets/icon/logo.png" class="logo logo-circulo"></ion-img>
    <ion-buttons slot="end">
      <ion-img src="assets/icon/salir.png" class="salir"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="buscador">
    <ion-searchbar
      class="searchbar-blanco"
      placeholder="Buscar en LiveTogether..."
      showCancelButton="focus"
    ></ion-searchbar>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
