ion-toolbar {
  --background: #339F28;
}

ion-content {
  --background: #E7F4E7;
}

.searchbar-blanco {
  --background: #FFFFFF;
  --box-shadow: none;
  --border: none;
  border-radius: 40px;
}

.buscador {
  background-color: white;
  width: 98%;
  border-radius: 40px ;
  margin: 20px auto;
}

.logo {
  width: 60px;
  height: auto;
  margin: 10px;
}

.logo-circulo {
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.salir {
  width: 60px;
}

.footer-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.añadir {
  width: 50px;
}

.tarjeta {
  background-color: #57BF48;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  color: white;
}

.tarjeta-titulo {
  margin: 0;
  font-size: 24px;
}

.tarjeta-subtitulo {
  margin: 0;
  font-size: 14px;
}
