<app-header></app-header>

<ion-content [fullscreen]="true">

  <div class="input-container">
    <ion-text>Adjunta Archivo Contrato</ion-text>
    <ion-input type="file" placeholder="Adjuntar archivo"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Nombre del empleado</ion-text>
    <ion-input type="text" placeholder="Introduce el nombre del empleado"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Apellidos</ion-text>
    <ion-input type="text" placeholder="Introduce apellidos del empleado"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>DNI</ion-text>
    <ion-input type="text" placeholder="Introduce DNI del empleado"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Email</ion-text>
    <ion-input type="email" placeholder="Introduce email del empleado"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Teléfono</ion-text>
    <ion-input type="text" placeholder="Introduce teléfono del empleado"></ion-input>
  </div>

  <ion-button expand="block" class="guardar-boton">Siguiente </ion-button>
</ion-content>

<app-footer-comunidad></app-footer-comunidad>
