<app-header></app-header>

<ion-content [fullscreen]="true">

  <div class="input-container" id="primerDiv">
    <ion-text>Sueldo</ion-text>
    <ion-input type="text" placeholder="Introduce sueldo del empleado"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Horario</ion-text>
    <ion-input type="hour" placeholder="8.00/17.00"></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Oficio</ion-text>
    <ion-input type="text" placeholder="Introduce el odicio del empleado"></ion-input>
  </div>


  <ion-button expand="block" class="guardar-boton">Registrar</ion-button>
</ion-content>

<app-footer></app-footer>
