<app-header></app-header>

<ion-content>
  <ion-segment [(ngModel)]="seccion" mode="ios">
    <ion-segment-button value="comunicados">
      <ion-label>Comunicados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sanciones">
      <ion-label>Sanciones</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-comunicados *ngIf="seccion === 'comunicados'"></app-comunicados>
  <app-sanciones *ngIf="seccion === 'sanciones'"></app-sanciones>
</ion-content>

<app-menu-inferior-comunidad></app-menu-inferior-comunidad>
