<ion-content class="login-container">
  <ion-row>
  <div class="logo-container">
    <img src="assets/icon/logo.png" alt="LiveTogether Logo" class="logo"/>
  </div>
  </ion-row>

  <h2 class="title">BIENVENIDO A LIVETOGETHER</h2>

  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-row style="margin-left: 20px; color: #0E8008; font-weight: bold">
            <ion-label class="labelLogin">Email</ion-label>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-input type="email" placeholder="Introduce tu email"></ion-input>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row style="margin-left: 20px; color: #0E8008; font-weight: bold">
            <ion-label class="labelLogin">Contraseña</ion-label>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-input type="password" placeholder="Introduce tu contraseña"></ion-input>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>

  <div class="register-link">
    <span>¿No tienes una cuenta?</span>
    <a href="#">Crear cuenta</a>
  </div>


  <ion-row>
  <ion-button>Inicio Sesión</ion-button>
  </ion-row>
</ion-content>
