.login-container {
  --background: #7CDF68;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.logo-container {
  margin-bottom: 15px;
  width: 3000px;
  margin-top: 35px;
}

.logo {
  width: 320px;
  height: auto;
  margin: 0 auto;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0E8008;
  margin-bottom: 20px;
  text-align: center;
}

ion-item {
  width: 100%;
  max-width: 300px;
  --background: white;
  --border-radius: 8px;
  margin-bottom: 10px;
}

ion-input {
  padding: 10px;
}

.register-link {
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  font-size: 0.9rem;
  margin: 0 auto;
  color: #0E8008;

  a {
    font-weight: bold;
    color: #0E8008;
    text-decoration: none;
    margin-left: 55px;
  }
}

ion-button {
  --background: #0E8008;
  --border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  color: white;
  font-weight: bold;
}



// #7CDF68
// #0E8008

ion-item {
  --border-radius: 8px;
  margin: 0 auto;
}

